#player1 {
  float: left;
  box-sizing: content-box;
  width: 25%;
  border: solid red 10px;
  padding: 5px;
}

/* #p1Hold {
  position: absolute;
  left: 100px;
  top: 700px;
} */

/* #p2Hold {
  position: absolute;
  left: 80%;
  top: 80%;
} */

#player2 {
 float: right;
 box-sizing: content-box;
 width: 25%;
 border: solid blue 10px;
 padding: 5px;
 
}

.content {
 text-align: center;
}

body {
  background-image: url('../img/pig-dice-background.png');
  background-size: cover;
  background-repeat: no-repeat, repeat;
  
}

h4 {
color: wheat;
margin: auto;
border-radius: 20px;
width: 35%;
font-family: 'fantasy';
}

h1 {
font-weight: bolder;
color: wheat;
margin: auto;
border-radius: 20px;
width: 100%;
text-align: center;
font-family: 'fantasy';
}

#p1-style {
  color:black;
  background-color: red;
}

#p2-style{
  color: black;
  background-color: blue;
}

#player2Total {
  color: white;
}
#player2Roll {
  color: white
}
#player1Total {
  color: white
}
#player1Roll {
  color: white;
}

#p2TandC {
  color: white;
  font-weight: bold;
}

#p1TandC {
  color: white;
  font-weight: bold;
}

#player1wins {
  display: none;
  float: center;
}

#player2wins {
  display: none;
  float: center;
}

#p1winning {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#p2winning {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
  color: wheat;
}


/* button {
  background-image: url('../img/SCROLL.jpg');
} */